@import '~@angular/material/theming';
@include mat-core();
$theming-material-components-primary: mat-palette($mat-indigo);
$theming-material-components-accent: mat-palette($mat-pink, A200, A100, A400);
$theming-material-components-warn: mat-palette($mat-red);
$theming-material-components-theme: mat-light-theme($theming-material-components-primary, $theming-material-components-accent, $theming-material-components-warn);
@include angular-material-theme($theming-material-components-theme);
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none!important;
    &:focus {
        color: inherit!important;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}